site_name: "Workshop: Unit Testing in Symfony"

theme:
  name: material
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Donkere modus

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Lichte modus

  icon:
    repo: material/github

  favicon: assets/images/favicon.ico

  language: nl

  features:
    - navigation.tabs
    - content.code.annotate
    - content.code.copy

repo_url: https://github.com/wimulkeman/symfony-unit-test-workshop
repo_name: Workshop Code
edit_uri: ""

plugins: []

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes

nav:
  - Home: index.md
  - Setup:
      - Installatie: tabs/Setup/installatie.md
  - PHPUnit:
      - Eerste Test (Asserts): tabs/PHPUnit/eerste-test-assert.md
      - Meer Assertions: tabs/PHPUnit/meer-assertions.md
      - Mocking: tabs/PHPUnit/mocking.md
      - setUp / tearDown: tabs/PHPUnit/test-setup-teardown.md
      - Exceptions: tabs/PHPUnit/exceptions.md
  - Symfony:
      - Symfony + PHPUnit: tabs/Symfony/testen-binnen-symfony.md
  - Extracurriculair:
      - (Native) Functies mocken: tabs/Extracurriculair/functies-mocken.md
  - Referenties:
      - Unit vs Integration vs E2E Tests: tabs/Referenties/e2e-vs-unit-vs-integration-test.md
      - Terminologie: tabs/Referenties/terminologie.md
      - Test Tools: tabs/Referenties/tools.md