site_name: Unit Test Workshop

theme:
  name: material
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Donkere modus

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Lichte modus

  icon:
    repo: material/bitbucket

  language: nl

  features:
    - navigation.tabs

repo_url: https://bitbucket.org/assuradeurengilde/unit-testing-workshop
repo_name: Workshop Code
edit_uri: ""

plugins: []

nav:
  - Home: index.md
  - Setup:
      - Installatie: tabs/Setup/installatie.md
  - PHPUnit:
      - Introductie: tabs/PHPUnit/introductie-in-phpunit.md
  - Laravel:
      - Laravel + PHPUnit: tabs/Laravel/testen-binnen-laravel.md
  - Referenties:
      - Overzicht: tabs/Referenties/index.md